parameters:
	customRulesetUsed: false
	dynamicConstantNames:
		- RCP_PLUGIN_VERSION
	level: max
	paths:
		- src/
	scanDirectories:
		- vendor/wp-cli/wp-cli/php/
		- wp-content/plugins/action-scheduler/
		- wp-content/plugins/restrict-content/
